{% extends 'base.html.twig' %}

{% block body %}
    <h1><a href="/">Camping l'Espadrille Volante</a></h1>
    <h2>Liste des biens</h2>
    <div class="row">
        <div>
            <a href="/" class="btn">Accueil</a>
            <a href="/admin/reservation" class="btn">Espace reservations</a>
            <a href="/factures/" class="btn">Factures</a>
        </div>
        <div>
            <a href="/logout" class="btn">Déconnexion</a>
        </div>
    </div>
        <td><a href=" {{ path('app_bien_new') }} " class="btn">Ajouter un bien</a></td>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Type</th>
            <th>Capacité</th>
            <th>Image</th>
            <th>Prix (€)</th>
            <th>Détails</th>
        </tr>
        </thead>
        <tbody>
        {% for bien in biens %}
            <tr>
                <td>{{ bien.nom }}</td>
                <td>{{ bien.description }}</td>
                <td>{{ bien.type.getLabel }}</td>
                <td>{{ bien.capacite }}</td>
                <td>{{ bien.imagePath }}</td>
                <td>{{ bien.prix / 100 }}</td>
                <td><a href="/detail/{{ bien.id }}" class="btn">Voir</a></td>
                <td>{% include 'bien/_delete_form.html.twig' %}</td>
                <td><a href="{{ path('app_bien_edit', {'id': bien.id}) }}" class="btn">Editer</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
